body {
  margin: 0;
  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper
  { 
    background: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
  }
header 
  {
    padding: 40px;
    border-bottom: 1px solid #EAEAEA;
    ;
  }
header h3,p
  {
    margin: 0;
  }
.content h1
  {
    margin: 0;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
  }
.card 
  {
    border: 1px solid #F3F3F3;
    padding: 30px;
    width: 210px;
    border-radius: 40px;
    margin-right: 30px;
  }
.card h5
  {
    font-weight: 400;
    font-size: 14px;

  }
.button
  {
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor:pointer;
  }
span
  {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 13px;
  }
b{font-size: 13px;}